<title>Страница не найдена | MathCamera</title>
<div style="text-align: center;margin-top: 20%;">
    <h1 style="font-size:600%">404</h1>
    <h2>Кажется, вы разделили на ноль и оказались в невозможном месте.</h2>
    <button><a href="https://mathcamera.ru" class="btn">На главную</a></button>
    <button><a href="https://forms.yandex.ru/cloud/65ccb4c4d04688352f69f57b/" target="_blank" class="btn">Сообщить об ошибке</a></button>
</div>
<style>
    @font-face {
      font-family: "Avenir";
      src: url("../static/fonts/AvenirNextCyr-Medium.ttf") format("truetype");
    }
    * {
      font-family: 'Avenir', serif;
    }
    button{
        cursor: pointer;
        font-family: 'Avenir', serif;
        border: 1px solid #02714C;
        color: #FFF;
        padding: 0.8em;
        margin: 0.5em 0.25em 0.5em 0;
        background-color: #02714C;
        border-radius: 5px;
    }
    button a {
        text-decoration:none;
        color:#fff;
    }
</style>